<div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"></h3>

          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input id="name" type="text" name="table_search" class="form-control pull-right" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" id="orderSearch" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover administrator">
            <tbody>
              <tr>
                <th>订单号</th>
                <th>用户id</th>
                <th>影院</th>
                <th>电影名</th>
                <th>票数</th>
                <th>位置</th>
                <th>总金额</th>
                <th>放映时间</th>
              </tr>


            <% for(let i=0;i < data.length;i++){%>
            <tr>
              <td><%= data[i].orderId %></td>
              <td><%= data[i].userId %></td>
              <td><%= data[i].cinemaNm %></td>
              <td><%= data[i].nm %></td>
              <td><%=data[i].seatNum%></td>
              <td>
                <% for( var j=0; j < data[i].seat.length; j++) {%>
                  <%=data[i].seat[j][0]%>排<%=data[i].seat[j][1]%>座
                <% } %>
              </td>
              <td><%= data[i].price %></td>
              <td><%=data[i].time%></td>
              <td>
                  <button class="btn btn-sm btn-danger pos-remove remove-order" onclick="removeOrder('a')"><span class="fa fa-remove"></span>移除</button>
              </td> 
            </tr>
            <%}%>
          </tbody></table>
        </div>
        <!-- <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#" id="prepage" >&laquo;</a></li>
            <% for( var i=0; i < data.resultPage; i++) {%>
              <li id="toTargetPage" class="{{if data.pageNo== i+1}}active{{/if}}">
                <a class="{{i+1}}"><%=i+1%></a>
              </li>
              <% } %>
            <li><a href="" id="nextpage" >&raquo;</a></li>
          </ul>
        </div> -->
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>