<div class="box box-info save-save">
    <div class="box-header with-border">
        <h3 class="box-title">添加演出信息</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" id="save-form" enctype="multipart/form-data" >
        <div class="box-body">
            <div class="form-group">
                <label for="showPoster" class="col-sm-2 control-label">海报</label>
                <div class="col-sm-10">
                    <span id="file" >
                        <input type="file" accept="image/*"  name="showPoster" id="showPoster" onchange="changepic(this)">
                        <img src="" id="showImg" alt="">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="showItem" class="col-sm-2 control-label">演出主题</label>

                <div class="col-sm-10">
                    <input required type="text" class="form-control" name="showItem" id="showItem" placeholder="请输入演出主题">
                </div>
            </div>
            <div class="form-group">
                <label for="showStart" class="col-sm-2 control-label">演出明星</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" name="showStart" id="showStart" placeholder="请输入演出明星">
                </div>
            </div>
            <div class="form-group">
                <label for="showSite" class="col-sm-2 control-label">演出地点</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" name="showSite" id="showSite" placeholder="请输入演出地点">
                </div>
            </div>
            <div class="form-group">
                <label for="showTime" class="col-sm-2 control-label">演出时间</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="showTime" id="showTime" placeholder="请输入演出时间">
                </div>
            </div>
            <div class="form-group">
                <label for="advanceTicket" class="col-sm-2 control-label">票预售时间</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="advanceTicket" id="advanceTicket" placeholder="请输入票预售时间">
                </div>
            </div>
            <div class="form-group">
                <label for="ticketPrice" class="col-sm-2 control-label">票价</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ticketPrice" id="ticketPrice" placeholder="请输入票价">
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="showPoster" class="col-sm-2 control-label">海报</label>
                <div class="col-sm-10" id="file">
                    <input type="file" class="btn btn-block  btn-sm" onchange="changepic(this)" name="showPoster" id="showPoster">
                    <img src="" id="showImg"  >
                </div>
            </div> -->

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="button" id="back" class="btn btn-default">返回列表</button>
            <button type="submit" class="btn btn-info pull-right">提交</button>
            <button type="reset" class="btn btn-default pull-right" style="margin-right: 15px">重置</button>
        </div>
        <!-- /.box-footer -->
    </form>

</div>