<div class="box show-list">
    <div class="box-header with-border">
      <h3 class="box-title">
        <button id="addbtn" class="btn btn-block btn-success"><span class="fa fa-plus-circle"></span> 添加</button>
      </h3>
      <div class="box-tools">
        <div class="input-group input-group-sm" style="width: 150px;">
          <input type="text" id="keywords" value="" name="pos_search" class="form-control pull-right" placeholder="搜索">
  
          <div class="input-group-btn">
            <button type="button" id="possearch" class="btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table class="table table-bordered show-list__tabel">
        <tr>
          <th style="width: 10px">#</th>
          <th>演出主题</th>
          <th>海报</th>
          <th>演出明星</th>
          <th>演出地点</th>
          <th>演出时间</th>
          <th>预售时间</th>
          <th>票价</th>
          <th style="width: 140px">操作</th>
        </tr>
        {{each data.result}}
        <tr data-id="{{$value._id}}">
          <td>{{$index}}</td>
          <td>{{$value.showItem}}</td>
          <td><img width="50" height="50" src="http://localhost:3000{{$value.showPoster}}" alt=""></td>
          <td>{{$value.showStart}}</td>
          <td>{{$value.showSite}}</td>
          <td>{{$value.showTime}}</td>
          <td>{{$value.advanceTicket}}</td>
          <td>{{$value.ticketPrice}}</td>
          <td>
            <button class="btn btn-sm btn-primary pos-alter" posid="" pageno="" keywords=""><span class="fa fa-edit"></span>
              修改</button>
            <button class="btn btn-sm btn-danger pos-remove" posid="" pageno="" pagecount="" pagesize="" keywords=""
              filename=""><span class="fa fa-remove"></span> 删除</button>
          </td>
        </tr>
        {{/each}}
        <!-- <tr>
          <td colspan="8"> 暂无数据. </td>
        </tr> -->
      </table>
    </div>
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="#/list_limit?pageNo={{if data.pages.pageNo>1}}{{data.pages.pageNo-1}}{{else}}{{data.pages.pageNo}}{{/if}}&keyword={{data.pages.keyword}}" id="prepage" >&laquo;</a></li>
        {{if data.pages.pageTotal < 5}}

        <% for( var i=0; i < data.pages.pageTotal; i++) {%>
        <li class="{{if data.pages.pageNo== i+1}}active{{/if}}">
          <a href="#/list_limit?pageNo=<%= i+1 %>&pageSize=<%=data.pages.pageSize%>&keyword={{data.pages.keyword}}"><%=i+1%></a>
        </li>
        <% } %>

        {{else}}

        <li class="{{if data.pages.pageNo==1}}active{{/if}}">
          <a href="#/list_limit?pageNo=1&pageSize=<%=data.pages.pageSize%>&keyword={{data.pages.keyword}}"><%=1%></a>
        </li>
        <!-- <li class="{{if data.pages.pageNo==2}}active{{/if}}">
          <a href="#/list_limit?pageNo=2&pageSize=<%=data.pages.pageSize%>&keyword={{data.pages.keyword}}"><%=2%></a>
        </li> -->
        {{if (data.pages.pageTotal-1)> data.pages.pageNo && data.pages.pageNo>2}}
        <li><a href="javascript:;">...</a></li>
        <li>
            <a href="#/list_limit?pageNo={{data.pages.pageNo-1}}&pageSize=<%=data.pages.pageSize%>&keyword={{data.pages.keyword}}"><%=data.pages.pageNo-1%></a>
        </li>
        <li class="active">
          <a href="#/list_limit?pageNo=data.pages.pageNo&pageSize=<%=data.pages.pageSize%>&keyword={{data.pages.keyword}}"><%=data.pages.pageNo%></a>
        </li>
        <li>
            <a href="#/list_limit?pageNo={{~~data.pages.pageNo+1}}&pageSize=<%=data.pages.pageSize%>&keyword={{data.pages.keyword}}"><%= ~~data.pages.pageNo+1%></a>
        </li>
        <li><a href="javascript:;">...</a></li>
        {{else}}
        <li><a href="javascript:;">...</a></li>
        {{/if}}
        <!-- <li class="{{if data.pages.pageNo== data.pages.pageTotal-1}}active{{/if}}">
          <a href="#/list_limit?pageNo=<%=data.pages.pageTotal-1 %>&pageSize=<%=data.pages.pageSize%>&keyword={{data.pages.keyword}}"><%=data.pages.pageTotal-1%></a>
        </li> -->
        <li class="{{if data.pages.pageNo==data.pages.pageTotal}}active{{/if}}">
          <a href="#/list_limit?pageNo=<%=data.pages.pageTotal%>&pageSize=<%=data.pages.pageSize%>&keyword={{data.pages.keyword}}"><%=data.pages.pageTotal%></a>
        </li>

        {{/if}}

        <li><a href="#/list_limit?pageNo={{if data.pages.pageNo==data.pages.pageTotal}}{{data.pages.pageTotal}}{{else}}{{~~data.pages.pageNo+1}}{{/if}}&&keyword={{data.pages.keyword}}" id="nextpage" >&raquo;</a></li>
      </ul>
    </div>
</div>
  <!-- /.box -->